---
export interface Props {
  post: {
    slug: string;
    frontmatter: {
      title: string;
      description: string;
      image: string;
      pubDate: string;
    };
  };
}

const { post } = Astro.props;
---

<a href={`/blog/${post.slug}`} class="blog-preview">
  <article>
    <div class="image-container">
      <img
        src={post.frontmatter.image}
        alt={`${post.frontmatter.title} image`}
        class="blog-image"
        width={90}
        height={90}
      />
    </div>
    <div class="content">
      <h3>{post.frontmatter.title}</h3>
      <p>{post.frontmatter.description}</p>
    </div>
    <span class="pub-date roboto-mono">{post.frontmatter.pubDate}</span>
  </article>
</a>

<style>
  .blog-preview {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 2rem;
  }

  article {
    display: flex;
    align-items: center;
  }

  .image-container {
    flex-shrink: 0;
    margin-right: 1rem;
  }

  .blog-image {
    object-fit: cover;
    border-radius: 8px;
  }

  .content {
    flex-grow: 1;
  }

  h3 {
    margin: 0 0 0.5rem 0;
  }

  p {
    margin: 0;
  }

  .pub-date {
    font-size: 0.8rem;
    color: #666;
  }
</style>
